body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    padding-bottom: 10px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left:5% ;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.half-width p{
    color: gray;
    font-size:18px;
}
.link-button{
    padding:10px 40px;
    background-image: linear-gradient(orange,tomato);
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;

}
.experience-item{
   
    
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right:5%;
    box-shadow:10px 14px  30px gray;
    border-radius: 5px;
}
.experience-item p{
    color: dimgray;
}
#web-dev-experience{
    border-left: 10px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 1;
}
#full-stack-experience{
    border-left: 10px solid;
    border-image: linear-gradient(#FFCACA,#DD5353) 1;
}
footer p{
    text-align: center;
}